<div class="login">
  <form [formGroup]="loginForm" (ngSubmit)="signIn()">
    <label aria-hidden="true">Login</label>
    <div class="field__with_error_message">
      <input class="input__field" type="email" formControlName="email" placeholder="Email">
      <app-error-message [name]="'Email'" [control]="emailFormControl"></app-error-message>
    </div>
    <div class="field__with_error_message">
      <input class="input__field" type="password" formControlName="password" placeholder="Password">
      <app-error-message [name]="'Password'" [control]="passwordFormControl"></app-error-message>
    </div>
    <button>Login</button>
  </form>
  <div class="sign__up">
    <span (click)="showSignUpForm()">Sign up</span>
  </div>
</div>
