<div class="registration">
  <form [formGroup]="registrationForm" (ngSubmit)="registrationForm.valid && signUp()">
    <label aria-hidden="true">Registration</label>
    <div class="field__with_error_message">
      <input class="input__field" type="text" formControlName="firstName" placeholder="First Name">
      <app-error-message [name]="'First Name'" [control]="firstNameFormControl"></app-error-message>
    </div>
    <div class="field__with_error_message">
      <input class="input__field" type="text" formControlName="lastName" placeholder="Last Name">
      <app-error-message [name]="'Last name'" [control]="lastNameFormControl"></app-error-message>
    </div>
    <div class="field__with_error_message">
      <input class="input__field" type="email" formControlName="email" placeholder="Email">
      <app-error-message [name]="'Email'" [control]="emailFormControl"></app-error-message>
    </div>
    <div class="field__with_error_message">
      <input class="input__field" type="password" formControlName="password" placeholder="Password">
      <app-error-message [name]="'Password'" [control]="passwordFormControl"></app-error-message>
    </div>
    <button>Sign Up</button>
  </form>
  <div class="sign__up">
    <span (click)="showSignUpForm()">Login</span>
  </div>
</div>
