%button {
  width: 105px;
  height: 40px;
  border: none;
  border-radius: 30px;
  color: #ffffff;
}

.multi__form {
  text-align: center;

  .step__name_block {
    margin: 10px;
    text-align: center;
  }

  .field {
    display: grid;
    justify-content: center;
    text-align: left;

    .name {
      font-size: 13px;
    }
  }

  .circle__progress {
    display: flex;
    justify-content: center;
    gap: 5px;

    .circle {
      width: 15px;
      height: 15px;
      border-radius: 50px;
    }
  }

  .controls {
    margin: 30px 0;
    display: flex;
    gap: 10px;
    justify-content: center;

    button {
      @extend %button
    }
  }
}

.active {
  background: #6979F8;
}

.inactive {
  background: #D0C9D6;
}

.complete {
  background: #00C48C;
}
