.form {

  .select {
    width: 150px;
  }

  .purchase__details {
    display: flex;
    flex-wrap: wrap;
    gap: 5em;
    justify-content: center;
    align-items: center;
  }

  .input__block {
    display: grid;
    align-items: center;

    .input {
      width: 180px;
    }
  }

  .items {
    padding: 1.5em;
    display: flex;
    flex-wrap: wrap;

    .item {
      margin-top: 1em;
      margin-left: 5em;
      border-left: 3px solid #4c4d52;
      padding-left: 1.5em;
    }
  }

}
