<div>
  <form class="form" [formGroup]="purchaseForm">
    <div>
      <label for="name">Name</label>
      <input nz-input formControlName="name" type="text" id="name" placeholder="Purchase name">
    </div>
    <div>
      <label for="name">Shop name</label>
      <nz-select formControlName="shop" class="select" nzDropdownMatchSelectWidth="false" nzPlaceHolder="Shop name">
        <nz-option *ngFor="let shop of shopNames" [nzValue]="shop.name" [nzLabel]="shop.name"></nz-option>
      </nz-select>
    </div>
    <div>
      <nz-date-picker nzShowTime formControlName="dateTime"></nz-date-picker>
    </div>

    <div class="items" formArrayName="items">
      <div class="item" *ngFor="let item of items.controls; let i = index" [formGroupName]="i">
        <div>
          <input nz-input formControlName="name" type="text" placeholder="Item name">
        </div>
        <div>
          <nz-input-number nzMin="1" formControlName="amount"></nz-input-number>
        </div>
        <div>
          <nz-input-number nzMin="0"  [nzPrecision]="2" formControlName="price"></nz-input-number>
        </div>
      </div>
    </div>
    <div>
      <button nz-button nzType="dashed" (click)="addItem($event)">Add item</button>
    </div>

  </form>
</div>
