form {
  font-family: 'Open Sans', serif;
  font-weight: 400;
}



.field__with_error_message {
  margin: 5px auto;
  height: 65px;

  input{
    height: 20px;
    background: #e0dede;
    justify-content: center;
    display: flex;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
  }
}

label{
  font-size: 2.3em;
  margin-bottom: .5em;
  justify-content: center;
  display: flex;
  font-weight: bold;
  transition: .5s ease-in-out;
}

button{
  width: 60%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #573b8a;
  font-size: 1em;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: .2s ease-in;
  cursor: pointer;
}
