@use "@angular/material" as mat;
@include mat.core();

$user-panel-client-primary: mat.define-palette(mat.$indigo-palette);
$user-panel-client-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$user-panel-client-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$user-panel-client-theme: mat.define-light-theme((
  color: (
    primary: $user-panel-client-primary,
    accent: $user-panel-client-accent,
    warn: $user-panel-client-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($user-panel-client-theme);

@import "assets/css/reset.css";
@import "assets/css/normalize.css";
@import "assets/css/fonts.css";
@import "~bootstrap/dist/css/bootstrap.css";


.toast-error {
  background: #e14c5a;
  color: white;
}

.toast-success {
  background: #bad89d;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.input__field {
  width: 240px;
  height: 48px;
  border-radius: 6px;
  border: 1px solid #ecebed;
  background: #ffffff;
  background-blend-mode: normal;
  box-shadow: 0 7px 64px rgba(0, 0, 0, 0.07);
  outline: none;
  padding-left: 15px;

  &::placeholder {
    position: absolute;
    left: 16px;
    top: 14px;
    width: 84px;
    height: 20px;
    color: #d0c9d6;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    font-family: "SFP", serif;
  }

  &:active {
    outline: none;
  }
}
