:host {
  height: 100%;
}

nav {
  height: 100%;

  .exit__block {
    align-self: flex-end;
    width: 100%;
  }

  .links {
    padding: 0;
    height: 100%;
    display: flex;
    flex-wrap: wrap;

    .components {
      width: 100%;
    }

    .link {
      display: flex;
      align-items: center;
      margin: 5px;
      border-radius: 6px;
      padding: 10px;
      cursor: pointer;
      height: 52px;

      &:hover {
        background: rgba(55, 65, 81, 1);

        .text {
          color: white;
        }

        .icon__stroke {
          stroke: white;
        }

        .icon__fill {
          fill: white;
        }
      }

      .icon {
        width: 32px;
      }

      .icon__stroke {
        stroke: white;
      }

      .icon__fill {
        fill: white;
      }

      .text {
        margin-left: 10px;
        width: 100%;
        color: #9ca3af;
        text-decoration: none;
        font-weight: 700;
      }
    }
  }
}
