<form class="form" (ngSubmit)="create()">
  <div class="field">
    <input class="input__field" type="text" placeholder="Name" name="name" [(ngModel)]="name">
  </div>
  <div class="field">
    <input type="file" hidden #uploader (change)="uploadFile($event)" accept="image/*">
    <button type="button" (click)="uploader.click()">
      <span>Select file</span>
    </button>
    <span>{{file?.name}}</span>
  </div>
  <div>
    <button class="create__btn" type="submit">Create</button>
  </div>
</form>
